<?xml version="1.0" encoding="UTF-8"?><config><generationsCount>50</generationsCount><kind>0</kind><populationSize>500</populationSize><selection>3</selection><precision>6</precision><functionParameters><a>20</a><b>0.2</b><c>6.283185307179586</c></functionParameters><range><start>-10.0</start><end>10.0</end></range><chromosomeConfig><ck>2</ck><cp>0.9</cp><mk>3</mk><mp>0.1</mp><ip>0.3</ip></chromosomeConfig><selectionParameter>10.0</selectionParameter><elitePercent>10.0</elitePercent><outputConfig><exportToFile>0</exportToFile><savePlots>0</savePlots><newPlotForEachStart>1</newPlotForEachStart></outputConfig></config>